* {
margin: 0;
padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.center {
	text-align: center;
}

#name, #email, #number {
	padding: 7px;
	width: 300px;
}

#dropdown, #dropdown2 {
	width: 150px;
}

#survey-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-row-gap: 15px;
	grid-column-gap: 20px;
	margin: auto;
}

.grid-label {
	grid-column-start: 1;
	justify-self: end;
	align-self: center;
}

.grid-input {
	grid-column-start: 2;
	align-self: end;
}

#survey-form p {
	text-align-last: right;
}

.flex { display: flex; flex-direction: row;}
